body {
  font-family: 'Questrial', sans-serif;
  color: rgb(80, 76, 76);
}

.curve-top {
  position: absolute;
  width: 100vw;
  height: 45px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ff5500;
}

h2 {
  font-family: 'Merriweather', serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.btn{
  width: 150px;
  margin-right: 10px;
  margin-top: 10px;
}

.bottom-text {
  position: absolute;
  bottom: 5px;
  text-align: center;
  color: #ffffff;
  width: 100vw;
  left: 0;
}

.bottom-text p {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.curve-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}